.header{
    border-radius: 10px;
    background: red;
    padding: 0 5px;
    
}
.navbar{
    height: auto;
    display: flex;
    align-items: center;
    .navbar__logo{
       width: 10%;
       margin: 0 10px;
       height: 50px;
    }
   &__input{
    outline: none;
    border: none;
    height: 100%;
    font-size: 20px;
    color: white;
   }
   &__btn{
    height: auto;
    border: none;
    background-color: greenyellow;
    border-radius: 20px;
    padding: 10px 20px;
    
   }
    
}

.card{
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 10px;
    text-align: center;
    width: 75px;
    height: 50px;
    display: flex;
    &__text{
        margin-top: 2px;
    }
}
.fa-solid{
    margin-top: 10px;
    font-size:15px;
}
.fa-face-grin-wide{
    color: gold;
}
.input__bag{
background-color: white;
height:90%;
align-items: center;
border-radius: 10px; 
padding: 10px;
justify-content: space-between;
}
.navbar__bag{
    display: flex;
gap: 10px;
}




@media (
    max-width:1095px) {
    .header{
        .card{
            display: none;            
           }
    }
    
}



@media (
    max-width:600px) {
    .header{
        margin-top: 20px;
        background-color: white;
        .navbar__logo{
            display: none;
        }
    }
    .navbar__input{
        max-width: 180px;
        font-size: 16px;
    }
    .input__bag{
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: 4px solid #ddd;
    }
    .navbar__btn{
        font-size: 15px;
        border-radius: 5px;
        border: 4px solid #ddd;
    }
}
